<div *ngIf="!wishes.length; else showItems">here are no wishes to display</div>

<ng-template #showItems>
  <ul class="wish-list">
    <app-wish-list-item
      *ngFor="let wish of wishes"
      [wishText]="wish.wishText"
      [(fullfilled)]="wish.isComplete"
    ></app-wish-list-item>
    <!--        <li *ngFor="let item of wishes; index as i">-->
    <!--          <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--              <input-->
    <!--                type="checkbox"-->
    <!--                class="checkbox"-->
    <!--                [checked]="item.isComplete"-->
    <!--                (click)="toggleItem(item)"-->
    <!--              />-->
    <!--              {{ item.wishText }}-->
    <!--            </label>-->
    <!--          </div>-->
    <!--        </li>-->
  </ul>
</ng-template>
